@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height:100%;
    margin:0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #353535;
    color: white;
}

.wrapper {
    display: flex;
    height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.sidebar-nav {
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    height: 100%;
}
.sidebar-item.logout {
    margin-top: auto;
}
.sidebar-item.logout .sidebar-link {
    background-color: #d9534f;
    border-left: 3px solid transparent;
}
.sidebar-item.logout .sidebar-link:hover {
    background-color: #c9302c;
}

.sidebar-item {
    position: relative;
}

.sidebar-item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.text-white {
    color: white;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: width 0.3s ease-in-out, max-width 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: #5D5D5D;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

a.sidebar-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.625rem 1rem;
    color: #FFF;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    box-sizing: border-box;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.075);
    border-left: 3px solid #3b7ddd;
}

#sidebar:not(.expand) .sidebar-link {
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: transform 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
}

#sidebar.expand a.sidebar-link {
    transition: background-color 0.2s ease-in-out, border-left-color 0.2s ease-in-out;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: auto;
    opacity: 1;
}

a.sidebar-link:hover {
    transition: background-color 0.2s ease-in-out, border-left-color 0.2s ease-in-out;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-link i {
    font-size: 1.5rem;
    margin-right: 0.75rem;
}

#sidebar.expand {
    width: 260px;
    transform: translateX(0);
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 1rem 1.5rem;
}

.sidebar-nav .sidebar-item:last-child .sidebar-link {
    border-left: 3px solid transparent;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.content {
    background-color: #353535;
    color: white;
    margin-left: 70px;
    transition: margin-left 0.3s ease-in-out;
}
#sidebar.expand + .content {
    margin-left: 260px;
}

.container-login {
    height: 100vh;
}


.toggle-password {
    cursor: pointer;
    right: 10px;
    top: 40%;
}

.form-group {
    margin-bottom: 1rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
}
.container {
    text-align: center;
}

.mobile-page .content {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mobile-page .container-login {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.custom-offcanvas-toggler {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1051;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu-icon {
    position: fixed;
    background-color: #5D5D5D;
    border: 2px solid white;
    border-radius: 12px;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

.custom-offcanvas {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background-color: #5D5D5D;
    z-index: 1050;
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.custom-offcanvas.show {
    left: 0 !important;
}

.custom-offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #3b3b3b;
    color: white;
}

.custom-offcanvas-title {
    font-size: 1.2rem;
    margin: 0;
}

.btn-close {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.custom-offcanvas-body {
    padding: 1rem;
    flex-grow: 1;
}
/* media queries pour format mobile */
@media (max-width: 767px) {
    /* sidebar */
    .wrapper {
        display: none;
    }

    .content {
        margin-left: 0 !important;
    }

    body {
        overflow-x: hidden;
    }
    /* login */
    .container-login {
        margin-left: 0;
        padding: 20px;
        width: 100%;
        max-width: 100%;
    }

    .form-group label,
    .form-control,
    .btn {
        font-size: 1rem;
    }

    .h1 {
        font-size: 1.5rem;
    }
    /* offcanvas */
    .offcanvas {
        background-color: #5D5D5D;
        width: 180px;
    }

    .offcanvas-body .nav-link {
        color: white;
        display: flex;
        align-items: center;
        padding: 0.625rem 1rem;
    }

    .offcanvas-body .nav-link i {
        font-size: 1.5rem;
        margin-right: 0.75rem;
    }
}
