{% extends 'base.html.twig' %}

{%  set title = "Liste des années" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1 class="d-flex justify-content-center mb-5">{{ title }}</h1>

    <div class="d-flex justify-content-center flex-wrap">
    {% for year in years %}
            <a class="btn btn-outline-secondary p-4 px-5 m-4 text-white border-white"
               href="{{ path('app_year_show', {'id': year.id}) }}"
               style="font-size: 1.5rem; border-radius: 10px;">
                {{ year.name }}
            </a>
    {% else %}
        <tr>
            <td colspan="11" class="text-center">Pas d'année trouvée</td>
        </tr>
    {% endfor %}
    </div>


{% endblock %}
