{% extends 'base.html.twig' %}
{% set title = "Modification de l'utilisateur" %}

{% block title %}{{ user.login }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
