{% extends 'base.html.twig' %}

{% set title = "Création d'un utilisateur" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{title}}</h1>

    {{ include('user/_form.html.twig') }}

{% endblock %}
