{% extends 'base.html.twig' %}

{% set title = "Création d'un utilisateur" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{title}}</h1>

    {{ include('user/_form.html.twig', {'ad':  ad }) }}

    <a class="btn btn-danger" href="{{ path('app_user_index') }}">Annuler</a>
{% endblock %}
